In [4]:
#########################################################################
#Title  : Preprocessing and Machine Learning 
#Author : Kevin Ryan Noronha

#Editors: Disha Khurana- 




##########################################################################

In [26]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
import joblib
from xgboost import XGBRegressor
!pip install cloudpickle
import cloudpickle
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor


from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.cluster import KMeans
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, r2_score, mean_squared_error

# --- 1. Loading and Basic pre processing of the data ---
file_path = 'student_records.xlsx'
df = pd.read_excel(file_path)

# Keeping only the essential columns
cols = ['Emplid', 'Name', 'Program Status', 'Course', 'Mark', 'Unit Value', 'Credits']
df = df[cols].drop_duplicates()

# Enforcing data types
df['Emplid'] = df['Emplid'].astype(str)
df['Mark'] = pd.to_numeric(df['Mark'], errors='coerce')
df['Unit Value'] = pd.to_numeric(df['Unit Value'], errors='coerce')
df['Credits'] = pd.to_numeric(df['Credits'], errors='coerce')

# --- 2. Pivoting to one row per student ---
pivot = (
    df
    .pivot_table(
        index=['Emplid','Name','Program Status'],
        columns='Course',
        values='Mark',
        aggfunc='first'
    )
    .reset_index()
)

# --- 3. Computing Totals ---
totals = (
    df
    .groupby(['Emplid','Name'])
    [['Unit Value','Credits']]
    .sum()
    .rename(columns={'Unit Value':'TotalUnits','Credits':'TotalCredits'})
    .reset_index()
)

# Ensuring Emplid is string for both DataFrames 
totals['Emplid'] = totals['Emplid'].astype(str)

# --- 4. Merging pivots and totals ---
data = pivot.merge(totals, on=['Emplid', 'Name'])

# Reordering columns for better readability 
# Placing ID, Name, Status, Totals first, then course marks
core_cols = ['Emplid', 'Name', 'Program Status', 'TotalUnits', 'TotalCredits']
subject_cols = [col for col in data.columns if col not in core_cols]
data = data[core_cols + subject_cols]

Requirement already satisfied: cloudpickle in /opt/miniconda3/lib/python3.12/site-packages (3.1.1)

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [6]:
# Identifying subject columns
subject_cols = [
    c for c in data.columns
    if c not in ['Emplid', 'Name', 'Program Status', 'TotalUnits', 'TotalCredits']
]

# Computing GPA before filling NaNs
data['GPA'] = data[subject_cols].sum(axis=1, skipna=True)/((data[subject_cols].notna().sum(axis=1)) * 25)

In [7]:
print(data.head())

  Emplid       Name Program Status  TotalUnits  TotalCredits  COMM2301  \
0   1001  Student 1        Pending         144           120       NaN
1   1002  Student 2      Completed         144           144       NaN
2   1003  Student 3        Pending         144           132      57.0
3   1004  Student 4      Completed         144           144      61.0
4   1005  Student 5        Pending         144            96       NaN

   COMM2583  COMM2585  COMM2587  COMM2589  COMM2591  COMM2595  COMM2598  \
0      98.0       NaN      70.0      66.0      54.0      79.0       NaN
1       NaN      80.0      62.0      66.0      62.0      82.0      87.0
2      77.0       NaN      90.0      58.0       NaN       NaN      70.0
3      78.0       NaN      96.0      59.0      93.0       NaN       NaN
4       NaN      34.0      88.0      52.0      77.0      48.0      53.0

   COMM2745  COMM2747  COMM2751  COMM2753  COMM2755  OART1013       GPA
0       NaN      46.0       NaN      62.0       NaN      70.0  2.725000
1       NaN      70.0      53.0       NaN       NaN       NaN  2.810000
2      48.0      57.0       NaN      67.0       NaN      56.0  2.577778
3       NaN      54.0       NaN       NaN      53.0      55.0  2.745000
4       NaN       NaN       NaN      68.0      48.0      75.0  2.413333

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Emplid          3000 non-null   object
 1   Name            3000 non-null   object
 2   Program Status  3000 non-null   object
 3   TotalUnits      3000 non-null   int64
 4   TotalCredits    3000 non-null   int64
 5   COMM2301        1315 non-null   float64
 6   COMM2583        1479 non-null   float64
 7   COMM2585        1521 non-null   float64
 8   COMM2587        3000 non-null   float64
 9   COMM2589        3000 non-null   float64
 10  COMM2591        2240 non-null   float64
 11  COMM2595        1687 non-null   float64
 12  COMM2598        1324 non-null   float64
 13  COMM2745        1279 non-null   float64
 14  COMM2747        2281 non-null   float64
 15  COMM2751        1675 non-null   float64
 16  COMM2753        1747 non-null   float64
 17  COMM2755        1248 non-null   float64
 18  OART1013        1683 non-null   float64
 19  GPA             3000 non-null   float64
dtypes: float64(15), int64(2), object(3)
memory usage: 468.9+ KB

In [9]:
# Identifying subject columns
subject_cols = [
    c for c in data.columns
    if c not in ['Emplid', 'Name', 'Program Status', 'TotalUnits', 'TotalCredits', 'GPA']
]

# Applying custom normalization per subject
for col in subject_cols:
    # Computing μ using non-zero marks
    nonzero = data[col].replace(0, np.nan).dropna()
    mu = nonzero.mean()
    
    # Replacing NaN (and zeros if desired) with μ
    data[col].fillna(mu, inplace=True)
    
    # Computing normalized value
    data[col] = (data[col] - mu) / mu

# Viewing a sample
print(data.head())

  Emplid       Name Program Status  TotalUnits  TotalCredits  COMM2301  \
0   1001  Student 1        Pending         144           120  0.000000
1   1002  Student 2      Completed         144           144  0.000000
2   1003  Student 3        Pending         144           132 -0.038642
3   1004  Student 4      Completed         144           144  0.028821
4   1005  Student 5        Pending         144            96  0.000000

   COMM2583  COMM2585  COMM2587  COMM2589  COMM2591  COMM2595  COMM2598  \
0  0.663283  0.000000  0.187732  0.118156 -0.089207  0.317228  0.000000
1  0.000000  0.351393  0.051991  0.118156  0.045726  0.367250  0.481218
2  0.306865  0.000000  0.527084 -0.017378  0.000000  0.000000  0.191785
3  0.323837  0.000000  0.628890 -0.000436  0.568588  0.000000  0.000000
4  0.000000 -0.425658  0.493149 -0.119028  0.298724 -0.199659 -0.097649

   COMM2745  COMM2747  COMM2751  COMM2753  COMM2755  OART1013       GPA
0  0.000000 -0.221961  0.000000  0.046327  0.000000  0.177503  2.725000
1  0.000000  0.183972 -0.107732  0.000000  0.000000  0.000000  2.810000
2 -0.184995 -0.035909  0.000000  0.130708  0.000000 -0.057997  2.577778
3  0.000000 -0.086650  0.000000  0.000000 -0.110334 -0.074819  2.745000
4  0.000000  0.000000  0.000000  0.147585 -0.194265  0.261611  2.413333

/var/folders/51/m6mbxy9s1733yzv1r6w6xks80000gn/T/ipykernel_14078/4194727035.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(mu, inplace=True)

In [10]:
# Identifying subject columns
subject_cols = [
    c for c in data.columns
    if c not in ['Emplid', 'Name', 'Program Status', 'TotalUnits', 'TotalCredits', 'GPA']
]

# Feature matrix and target
X = data[subject_cols]
y = data['GPA']

# Saving Emplid and Name for test records
X_ids = data[['Emplid', 'Name']]

# Performing train/test split
X_train, X_test, y_train, y_test, X_ids_train, X_ids_test = train_test_split(
    X, y, X_ids, test_size=0.3, random_state=42
)

# Now X_ids_test contains Emplid and Name of test data
print("Training samples:", X_train.shape[0])
print("Test samples:", X_test.shape[0])
print("Sample test IDs:")
print(X_ids_test.head())

Training samples: 2100
Test samples: 900
Sample test IDs:
     Emplid          Name
1801   2802  Student 1802
1190   2191  Student 1191
1817   2818  Student 1818
251    1252   Student 252
2505   3506  Student 2506

In [11]:
data[subject_cols]

,COMM2301,COMM2583,COMM2585,COMM2587,COMM2589,COMM2591,COMM2595,COMM2598,COMM2745,COMM2747,COMM2751,COMM2753,COMM2755,OART1013
0,0.000000,0.663283,0.000000,0.187732,0.118156,-0.089207,0.317228,0.000000,0.000000,-0.221961,0.000000,0.046327,0.000000,0.177503
1,0.000000,0.000000,0.351393,0.051991,0.118156,0.045726,0.367250,0.481218,0.000000,0.183972,-0.107732,0.000000,0.000000,0.000000
2,-0.038642,0.306865,0.000000,0.527084,-0.017378,0.000000,0.000000,0.191785,-0.184995,-0.035909,0.000000,0.130708,0.000000,-0.057997
3,0.028821,0.323837,0.000000,0.628890,-0.000436,0.568588,0.000000,0.000000,0.000000,-0.086650,0.000000,0.000000,-0.110334,-0.074819
4,0.000000,0.000000,-0.425658,0.493149,-0.119028,0.298724,-0.199659,-0.097649,0.000000,0.000000,0.000000,0.147585,-0.194265,0.261611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.000000,0.000000,-0.054025,0.221667,-0.135970,0.315590,0.000000,0.000000,0.000000,-0.627895,0.000000,-0.105559,0.074314,-0.444891
2996,0.585397,0.000000,-0.037132,0.493149,-0.000436,-0.139806,0.000000,0.000000,-0.813228,-0.103564,0.616184,0.000000,0.000000,0.000000
2997,0.000000,-0.151386,0.000000,-0.626713,0.050389,0.045726,-0.766567,-0.012521,0.000000,-0.052822,0.000000,0.000000,0.000000,0.143860
2998,0.163749,0.000000,0.131792,0.238635,0.338399,-0.494004,0.000000,0.000000,0.001777,0.319283,0.000000,0.000000,0.000000,0.059753
2999,-0.038642,0.000000,-0.020240,0.035024,0.118156,0.000000,-0.016247,0.000000,-0.032182,-0.272703,0.599349,0.000000,0.426823,0.000000

## RandomForestRegressor

In [15]:
# Training the model
reg_model = RandomForestRegressor(n_estimators=100, random_state=42)
reg_model.fit(X_train, y_train)

# Predicting on test data
RF_pred = reg_model.predict(X_test)

# Evaluating
print("Random Forest Regression R² score:", r2_score(y_test, RF_pred))
print("Mean Squared Error:", mean_squared_error(y_test, RF_pred))

# Combining actual and predicted GPAs for analysis
results_df = X_ids_test.copy()
results_df["Actual GPA"] = y_test.values
results_df["Predicted GPA"] = RF_pred
results_df["Absolute Error"] = abs(results_df["Actual GPA"] - results_df["Predicted GPA"])

# Viewing top 10 rows with highest prediction error
print("\nTop 10 largest GPA prediction errors:")
print(results_df.sort_values("Absolute Error", ascending=False).head(10))

Random Forest Regression R² score: 0.7605423642514848
Mean Squared Error: 0.01587594357688616

Top 10 largest GPA prediction errors:
     Emplid          Name  Actual GPA  Predicted GPA  Absolute Error
208    1209   Student 209    1.695000       2.182256        0.487256
247    1248   Student 248    1.550000       1.984928        0.434928
1882   2883  Student 1883    1.610000       2.037872        0.427872
2164   3165  Student 2165    1.820000       2.227472        0.407472
179    1180   Student 180    3.235000       2.848194        0.386806
2268   3269  Student 2269    1.706667       2.091617        0.384950
70     1071    Student 71    1.560000       1.944061        0.384061
1292   2293  Student 1293    1.826667       2.198094        0.371428
1920   2921  Student 1921    1.670000       2.020672        0.350672
231    1232   Student 232    1.737778       2.085389        0.347611

In [16]:
# --- Exporting model to a .pkl file ---
joblib.dump({
    'model': reg_model,
    'subject_cols': subject_cols
}, 'gpa_reg_model.pkl')

print("Model and metadata saved to gpa_reg_model.pkl")

Model and metadata saved to gpa_reg_model.pkl

## Gradient Boost

In [21]:
# Training Histogram-based Gradient Boosting model
hist_model = HistGradientBoostingRegressor(max_iter=100, random_state=42)
hist_model.fit(X_train, y_train)

# Predicting on test data
pred_HGBR = hist_model.predict(X_test)

# Evaluating model
print("HistGradientBoosting Regressor R² score:", r2_score(y_test, pred_HGBR))
print("Mean Squared Error:", mean_squared_error(y_test, pred_HGBR))

# Combining with test IDs for comparison
results_HGBR = X_ids_test.copy()
results_HGBR["Actual GPA"] = y_test.values
results_HGBR["Predicted GPA"] = pred_HGBR
results_HGBR["Absolute Error"] = abs(results_HGBR["Actual GPA"] - results_HGBR["Predicted GPA"])

# Top 10 largest prediction errors
print("\nTop 10 GPA errors (HistGradientBoosting):")
print(results_HGBR.sort_values("Absolute Error", ascending=False).head(10))

HistGradientBoosting Regressor R² score: 0.9178181313887295
Mean Squared Error: 0.005448624367467863

Top 10 GPA errors (HistGradientBoosting):
     Emplid          Name  Actual GPA  Predicted GPA  Absolute Error
2594   3595  Student 2595    2.795556       2.444094        0.351462
247    1248   Student 248    1.550000       1.830849        0.280849
1624   2625  Student 1625    2.690000       2.422398        0.267602
208    1209   Student 209    1.695000       1.962253        0.267253
2268   3269  Student 2269    1.706667       1.973697        0.267030
1882   2883  Student 1883    1.610000       1.874538        0.264538
727    1728   Student 728    2.782222       2.530980        0.251242
70     1071    Student 71    1.560000       1.808019        0.248019
179    1180   Student 180    3.235000       2.998023        0.236977
231    1232   Student 232    1.737778       1.974434        0.236656

In [23]:
# Saving the model and subject columns to a .pkl file using cloudpickle
with open('gpa_hist_model_cp.pkl', 'wb') as f:
    cloudpickle.dump({
        'model': hist_model,
        'subject_cols': subject_cols
    }, f)

print("HistGradientBoosting model saved to gpa_hist_model_cp.pkl using cloudpickle.")

HistGradientBoosting model saved to gpa_hist_model_cp.pkl using cloudpickle.

In [25]:
# Training the model
knn = KNeighborsRegressor(n_neighbors=5)  # You could tune k via cross-validation
knn.fit(X_train, y_train)

# Predicting on test set
pred_KNN = knn.predict(X_test)

# Evaluating
print("KNN Regression R² score:", r2_score(y_test, pred_KNN))
print("Mean Squared Error:", mean_squared_error(y_test, pred_KNN))

# Comparing predictions vs actuals
results_KNN = X_ids_test.copy()
results_KNN["Actual GPA"] = y_test.values
results_KNN["Predicted GPA"] = pred_KNN
results_KNN["Absolute Error"] = abs(results_KNN["Actual GPA"] - results_KNN["Predicted GPA"])

# Top 10 worst predictions
print("\nTop 10 GPA errors (KNN):")
print(results_KNN.sort_values("Absolute Error", ascending=False).head(10))

KNN Regression R² score: 0.7787795643347103
Mean Squared Error: 0.014666824650205763

Top 10 GPA errors (KNN):
     Emplid          Name  Actual GPA  Predicted GPA  Absolute Error
247    1248   Student 248    1.550000       2.086222        0.536222
1882   2883  Student 1883    1.610000       2.035333        0.425333
179    1180   Student 180    3.235000       2.819778        0.415222
2208   3209  Student 2209    1.475000       1.885778        0.410778
1204   2205  Student 1205    2.791111       2.398000        0.393111
1029   2030  Student 1030    1.630000       2.012222        0.382222
1448   2449  Student 1449    2.560000       2.207222        0.352778
2092   3093  Student 2093    2.785000       2.435889        0.349111
1927   2928  Student 1928    2.525000       2.176000        0.349000
1920   2921  Student 1921    1.670000       2.019000        0.349000

In [27]:
# cross- validation for the best value of k 
grid = GridSearchCV(KNeighborsRegressor(), {'n_neighbors': list(range(3, 11))}, cv=5)
grid.fit(X_train, y_train)
print("Best k:", grid.best_params_)

Best k: {'n_neighbors': 3}

In [14]:
joblib.dump({
    'model': knn,
    'subject_cols': subject_cols
}, 'gpa_knnreg_model.pkl')

print("Model and metadata saved to gpa_knnreg_model.pkl")

Model and metadata saved to gpa_knnreg_model.pkl